@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=DM+Sans:wght@400;600&display=swap');

/* colors */

:root {
  --color-background: #f2eed9;
  --color-text: #522;
}

* {
  box-sizing: border-box;
}

/* typography */

body {
  background: var(--color-background);
  color: var(--color-text);
  font: 100%/1 'DM Sans', system-ui, sans-serif;
  /* text-rendering: geometricPrecision; */
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font: 400 2.5rem/1 'Averia Serif Libre', Georgia, serif;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.03em;
  line-height: 1.1;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

p {
  line-height: 1.5;
  max-width: 30rem;
}

small {
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.copy-2024 {
  font-size: 1.25rem;
}

/* layout */

body {
  margin: 0;
  text-align: center;
}

header,
section,
footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}
section {
  min-height: 65vh;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  max-width: 75rem;
  width: 100%;
}

/* branding */

svg {
  fill: var(--color-text);
}

/* components */

.button {
  background: var(--color-text);
  border-radius: 1.5rem;
  color: var(--color-background);
  cursor: pointer;
  padding: 1rem 1.5rem;
}

img {
  border-radius: 1rem;
  max-width: 100%;
}

/* services */

.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.service-item {
  border: 1px solid var(--color-text);
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
}

/* see how */

.see-how {
  padding: 3rem 1.5rem;
}

.stack {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

img {
  border: 2px solid var(--color-text);
  box-shadow: 8px 8px var(--color-text);
  mix-blend-mode: multiply;
}

/* quote */

.quote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
}

.cite-person {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.03em;
}

/* scene */

.scene {
  /* background: url(https://picsum.photos/960/540) no-repeat center / cover; */
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 177.78%; /* 9:16 aspect ratio */
  position: relative;
  width: 100%;
}
.scene-content,
.scene-hue,
.scene-video {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.scene-content {
  align-items: center;
  background: #3003;
  color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding: 4rem;
  z-index: 2;
}
.scene-hue {
  background: var(--color-text);
  display: none;
  mix-blend-mode: color;
  z-index: 1;
}
.scene-video {
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

/* responsive */

@media (max-width: 480px) {
  .scene-video {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

@media (min-width: 480px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  .scene {
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
  }
  .scene-video {
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* desktop: */

  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3rem;
  }

  header,
  section,
  footer {
    padding: 3rem;
  }

  .see-how .center {
    flex-direction: row;
    gap: 4rem;
  }
  .see-how .stack {
    flex: 1;
  }
  .stack {
    align-items: flex-start;
    text-align: left;
  }
  .see-how:nth-child(even) .stack:first-child {
    order: 1;
  }
}
