@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=DM+Sans:wght@400;600&display=swap');

/* colors */

:root {
  --color-accent: #e66;
  --color-background: #f2eed9;
  --color-text: #522;
}

* {
  box-sizing: border-box;
}

/* typography */

body {
  font: 100%/1 'DM Sans', system-ui, sans-serif;
  /* text-rendering: geometricPrecision; */
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2 {
  font: 400 2.5rem/1 'Averia Serif Libre', Georgia, serif;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

p {
  line-height: 1.5;
  max-width: 30rem;
}

small {
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.copy-2024 {
  font-size: 1.25rem;
}

/* layout */

body {
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

header,
section,
footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}
section {
  /* min-height: 65vh; */
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  max-width: 75rem;
  width: 100%;
}

/* branding */

body {
  background: var(--color-background);
  color: var(--color-text);
}

em,
small,
.svg-inline--fa {
  color: var(--color-accent);
}

svg {
  fill: var(--color-text);
}

.svg-inline--fa {
  font-size: 2rem;
  margin: 3rem 0;
}

.hue {
  background: var(--color-text);
  mix-blend-mode: color;
  opacity: 0.3;
}

/* hero */

.blur-horizon {
  position: relative;
  padding-bottom: 3rem;
  width: 100%;
}
.blur-horizon::before {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 70%;
  z-index: 1;
}

#glamour-shot {
  background: url(https://res.cloudinary.com/moona/image/upload/v1725384592/JoeyHendrix/joey-sep3_arg7kj.jpg) no-repeat
    center / cover;
  border-radius: 50% 50% 0 0;
  height: 20rem;
  mix-blend-mode: multiply;
  overflow: hidden;
  position: relative;
  width: 20rem;
}
/* #glamour-shot::before {
  background: inherit;
  bottom: 0;
  content: '';
  filter: blur(10px);
  left: 0;
  position: absolute;
  right: 0;
  top: 70%;
  transform-origin: bottom;
  transform: scaleY(-0.5) translateY(70%);
} */

/* components */

.button {
  background: var(--color-text);
  border-radius: 1.5rem;
  color: var(--color-background);
  cursor: pointer;
  padding: 1rem 1.5rem;
}
.button:hover {
  background: var(--color-accent);
}

img {
  border-radius: 1rem;
  max-width: 100%;
}

/* services */

.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.service-item {
  border: 1px solid var(--color-text);
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
}

/* see how */

.see-how {
  padding: 3rem 1.5rem;
}

.stack {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

img {
  border: 2px solid var(--color-text);
  box-shadow: 8px 8px var(--color-text);
  mix-blend-mode: multiply;
}

/* quote */

.quote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
}

.cite-person {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.03em;
}

/* calendar */

.calendly-inline-widget {
  height: 150vh;
  mix-blend-mode: multiply;
  width: 100%;
}

/* scene */

.scene {
  /* background: url(https://picsum.photos/960/540) no-repeat center / cover; */
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 177.78%; /* 9:16 aspect ratio */
  position: relative;
  width: 100%;
}
.hue,
.scene-content,
.scene-video {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.scene-content {
  align-items: center;
  background: #3003;
  color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding: 4rem;
  z-index: 2;
}
.scene-video {
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

/* responsive */

@media (max-width: 480px) {
  /* isolate phone — 30rem */
  .scene-video {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

@media (min-width: 480px) {
  /* phone — 30rem */
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  .scene {
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
  }
  .scene-video {
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* tablet — 48rem */

  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3rem;
  }

  header,
  section,
  footer {
    padding: 3rem;
  }

  .see-how .center {
    flex-direction: row;
    gap: 4rem;
  }
  .see-how .stack {
    flex: 1;
  }
  .stack {
    align-items: flex-start;
    text-align: left;
  }
  .see-how:nth-child(even) .stack:first-child {
    order: 1;
  }
}
@media (min-width: 1120px) {
  /* desktop — 70rem */

  .calendly-inline-widget {
    height: 100vh;
  }
}
